---
import { Image } from "astro:assets";
import { MailLeads } from "../assets";
---

<div class="flex items-center justify-center">
  <div class="flex flex-col">
    <h1 class="text-lg font-bold text-center">Leads Generated</h1>
    <h2 class="text-7xl font-bold">
      5327354<span class="text-teal-600">832</span>
    </h2>

    <button class="btn btn-primary my-4">Get Leads</button>
  </div>

  <div class="ml-5">
    <Image src={MailLeads} alt={"mail leads"} />
  </div>
</div>
